<div class="modal fade" id="inscripcion-detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="inscripcion-detail-modal-content">
            <!-- El contenido se cargará aquí vía AJAX -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Información del curso -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <p><strong>Nombre:</strong> {{ inscripcion.nombre_ins }}</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                            <p><strong>Apellidos:</strong> {{ inscripcion.apellidos_ins }}</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <p><strong>Telefono:</strong> {{ inscripcion.telefono  }}</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <p><strong>Correo:</strong> {{ inscripcion.correo  }}</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                
                                <p><strong>Profesión:</strong> {{ inscripcion.profesion }}</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <p><strong>Grado Academico:</strong> {{ inscripcion.grado_academico }}</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <p><strong>Curso:</strong> {{ inscripcion.curso_id }}</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <p><strong>Consulta:</strong> {{ inscripcion.consulta }}</p>
                            </div>
                        </div>
                          
                       
                    </div>
                    <!-- Otros campos -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        // Abre el modal y carga el contenido vía AJAX
        $('.open-modal').on('click', function() {
            var url = $(this).data('url');            
            console.log('id'+ ' '+url);
            $.ajax({
                url: url,
                method: 'GET',
                success: function(data) {
                    $('#inscripcion-detail-modal-content').html($(data).find('#inscripcion-detail-modal-content').html());
                    $('#inscripcion-detail-modal').modal('show');
                    console.log('datos'+ ' '+data);
                },
                error: function() {
                    alert('Error al cargar los detalles del curso.');
                }
                
            });
        });
    
        // Cierra el modal
        $('#inscripcion-detail-modal').on('hidden.bs.modal', function () {
            $('#inscripcion-detail-modal-content').empty();
        });
    });
    
  </script>

 