 <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>CadrickIngenieros</h3>
              <p>
                <i class="bi bi-geo-alt-fill"></i> <strong>Dirección:</strong> {{ comp.direccion }} <br><br>
                <i class="bi bi-telephone-fill"></i> <strong>Telefono:</strong> {{ comp.telefono }}  <br>
                <i class="bi bi-envelope-fill"></i> <strong>Correo:</strong> {{ comp.email }} <br>
              </p>
           
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Enlaces útiles</h4>
            <ul>
              <li><a href="{% url "index" %}">Inicio</a></li>
              <li><a href="{% url "nosotros" %}">Nosotros</a></li>
              <li><a href="#">Proyectos</a></li>
              <li><a href="#">Cursos</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </div><!-- End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>CadrickIngenieros</span></strong>. All Rights Reserved 2024
        </div>
        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">Crisof</a>
        </div>
      </div>
    </div>

    <a href="{{ comp.url_whatsapp }}" class="btn-wsp" target="_blank">
      <i class="fab fa-whatsapp"></i>
    </a>  
  
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <div id="preloader">
  
    </div>

  </footer>
  <!-- End Footer -->