 <!-- ======= Recent Blog Posts Section ======= -->
 <section id="recent-blog-posts" class="recent-blog-posts">
    <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2> {{ titleCursos }} </h2>
      <p> {{ publicidad.sub_section_cursos }} </p>
    
    </div>

    <div class="row gy-5">
      {% for c in courses %}
      
      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="post-item position-relative h-100">

          <div class="post-img position-relative overflow-hidden">
            <img src="{{ c.get_image }}" class="img-fluid" alt="">
            <span class="post-date"> {{ c.fecha_de_inicio }} </span>
          </div>

          <div class="post-content d-flex flex-column">

            <h3 class="post-title"> {{ c.nombre_curso }} </h3>

            <div class="meta d-flex align-items-center">
              <div class="d-flex align-items-center">
                <i class="bi bi-person-video3"></i> <span class="ps-2"> {{ c.capacitador_id }} </span>
              </div>
              <span class="px-3 text-black-50">/</span>
              <div class="d-flex align-items-center">
                <i class="bi bi-currency-dollar"></i> <span class="ps-2"> {{ c.costo }} </span>
              </div>
            </div>

            <hr>

            <a href="{% url 'detail-curso' c.id %}" class="readmore stretched-link"><span>Mas Información</span><i class="bi bi-arrow-right"></i></a>

          </div>

        </div>
        
      </div><!-- End post item -->
      {% endfor %}

    </div>
    <div class="d-flex justify-content-center mt-4">
      <a href="{% url 'curso-list' %}" class="btn btn-primary">Ver más</a>
  </div>

    </div>
  </section>
  <!-- End Recent Blog Posts Section -->