<!-- ======= Our Projects Section ======= -->
<section id="projects" class="projects">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Servicios</h2>
        <p> {{ publicidad.sub_section_servicios }} </p>
      </div>

      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">


        <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
            {% for s in service %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
            <div class="portfolio-content h-100">
              <img src="{{ s.get_image }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{ s.servicio_id }} </h4>
                <p>{{ s.descripcion_servicio }}</p>
                <a href="{{ s.get_image }}" title="{{ s.title }}" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "detail-service" s.id %}" title="Más información" class="details-link"><i class="bi bi-hand-index-thumb"></i></a>
              </div>
            </div>      
          </div><!-- End Projects Item -->
          {% endfor %}
        </div><!-- End Projects Container -->

      </div>
      <div class="d-flex justify-content-center mt-4">
        <a href="{% url 'servicios-list' %}" class="btn btn-primary">Ver más</a>
    </div>
    </div>
  </section><!-- End Our Projects Section -->
