{% extends 'sitioweb/index.html' %}

{% block  projects %}
{% for p in proyec %}
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(assets/img/constructions-1.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title"> {{ p.nombre_proyecto }} </h4>
                    <p> {{ p.descripcion_corta }} </p>
                  </div>
                </div>
              </div>
            </div>
{% endfor %}
{% endblock  %}