{% extends 'administrador/list.html' %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 20%;">Nombre</th>
        <th scope="col" style="width: 20%;">Cargo</th>
        <th scope="col" style="width: 20%;">Descripción</th>
        <th scope="col" style="width: 20%;">Imagen</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
{% for a in object_list %}
    <tr>
        <td> {{ a.nombre_equipo }} </td>
        <td> {{ a.cargo }} </td>
        <td> {{ a.descripcion }} </td>
        <td class="text-center"> <img src="{{ a.get_image }}" alt="Imagen del servicio" height="100"> </td>  

        <td>
            <a href="{% url 'equipo_update' a.id %}" class="btn btn-warning btn-xs"><i class="fas fa-edit"></i></a>
            <a href="{% url 'equipo_delete' a.id %}" class="btn btn-danger btn-xs"><i class="fas fa-trash"></i></a>

        </td>   
    </tr>
    {% endfor %}
{% endblock %}